doctype
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        each css in cssRessource
            link(rel='stylesheet', href='#{css}', type='text/css')
    body.layout
        .row.retrocession-body
            .columns
                .row.white-small
                    .columns.small-10
                        .row
                            .columns.component-title
                                | #{retrocession.label_retrocession_by}
                        .row
                            .columns
                                | #{retrocession.company_name}
                    .columns.small-2.date
                        | #{retrocession.formated_date}
                .row.white-small.centered 
                    .columns.retrocession.upper
                        | #{retrocession.label_retrocession} ##{retrocession.number}
                .row.white-small
                    .columns.small-4
                        .row
                            .columns.component-title
                                | #{retrocession.label_retrocession_to}
                        .row
                            .columns
                                | #{retrocession.client_company_name}
                .row.address
                    .columns
                        .row
                            .columns
                                | #{retrocession.client_company_address}
                        .row
                            .columns
                                | #{retrocession.client_company_zipcode} #{retrocession.client_company_city}
                        .row
                            .columns
                                | #{retrocession.client_company_country}
                .row
                    .columns
                        p
                            each line in retrocession.retrocession_details
                                if line.title
                                    | #{line.title}
                                    if line.data
                                        ul
                                            each data in line.data
                                                li #{data}
                                else
                                    | #{line}
                                    br
